@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(114.47deg, #DCD6F7 2.49%, #FFFAEE 96.73%);
    background-repeat: no-repeat;
}


/* HEADER */

header p{
    text-align: center;
    font-family: "Merriweather";
    font-size: 20px;
    background: #DCD6F7;
    padding: 10px;
}

nav{
    height: 100px;
    width: 100%;
    text-align: center;
    background: #EBD8B2;
    font-family: "Merriweather";
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 0.01px solid #000000; 
    z-index: 9999; 
}

nav .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    padding-top: 15px;
    margin-left: 40px;
    background: none;
}

nav ul{
    display: inline-flex;
}

nav ul li{
    display: inline;
    line-height: 100px;
    margin: 0 20px;
    font-size: 30px;
    background: none;
    text-align: center;
}

nav ul li a{
    color: #424874;
    font-size: 100%;
    list-style: none;
    transition: all 0.3s ease;
}

nav a:hover{
    color: #A6B1E1;
}

nav .profile:hover{
    content: url("../header/profile\ light.png");
}

.responsive{
    display: none;
}

nav .hamburger{
    display: none;
    height: min-content;
    margin: auto;
    margin-right: 40px;
    cursor: pointer;
}

nav .hamburger .bar{
    width: 35px;
    height: 4px;
    margin-bottom: 7px;
    background: #424874;
    border-radius: 10%;
    transition: .4s;
}

input{
    display: none;
}

input:checked ~ nav #menu{
    transform: translateY(0);
}

input:checked ~ nav .hamburger .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .hamburger .bar:nth-child(2){
    display: none;
}

input:checked ~ nav .hamburger .bar:nth-child(3){
    transform: rotate(-45deg);
}

.profile{
    width: 74px;
    height: 74px;
    margin: auto 50px auto 0;
    background: none;
}

nav.sticky{
    position: fixed;
    top: -1px;
    left: 0;
}

@media (max-width:1200px){
    header p{
        font-size: 16px;
    }
}

@media (max-width: 900px){
    nav ul li{
        font-size: 20px;
    }
    nav .logo{
        scale: 80%;
        margin: 0;
    }
    .profile{
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 864px){
    header p{
        font-size: smaller;
    }
    nav ul li{
        font-size: 23px;
        padding-left: 25px;
    }
    nav img{
        scale: 75%;
    }
    nav .logo{
        padding-left: 10px;
    }
    nav .profile{
        margin: auto;
    }
}

@media(max-width: 768px) {
    header p{
        font-size: 12px;
    }
    nav .responsive{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        max-width: 400px;
        background: #EBD8B2;
        display: grid;
        padding: 50px 0;
        text-align: center;
        line-height: 80px;
        transform: translateY(-100%);
        transition: .6s;
    }
    nav ul li a{
        font-size: 28px;
        font-weight: 600;
    }
    nav ul li{
        padding: 0;
        margin: 0;
    }
    nav ul li:hover{
        background: #E5CFA4;
        border-top: 0.001px solid#000000;
        border-bottom: 0.001px solid black;
        height: 100px;
    }
    .profile{
        display: none;
    }
    nav{
        height: auto;
    }
    nav .logo{
        padding: auto;
    }
    nav .hamburger{
        display: grid !important;
    }
}

@media (max-width: 500px){
    nav .logo{
        scale: 70%;
        max-width: 180px;
        padding-left: 0;
    }
    header p{
        font-size: 6px;
    }
    nav .content{
        height: 50px;
    }
}

/* HEADER END */




/* PROMOTION BANNER (HEADER) */
.banner{
    background-image: url("promotion\ banner/promotion_banner_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: -150px;
}

.blur{
    max-width: 100%;
    height: auto;
}

.banner .learnmore{
    font-family: "Inter";
    color: #424874;
    border: 2px solid #424874;
    font-size: 35px;
    max-width: 260px;
    height: auto;
    padding: 29px 26px;
    text-align: center;
    position: relative;
    margin: auto 60px auto auto;
    top: -320px;
}

.banner .learnmore:hover{
    color: #EBD8B2;
    background-color: #424874;
}

@media(max-width: 1024px){
    .banner .learnmore{
        font-size: 30px;
        max-width: 240px;
        top: -260px;
        padding: 24px 21px;
        margin-right: 42.667px;
    }
    .blur{
        position: relative;
        top: -30px;
    }
}

@media(max-width: 768px){
    .banner .learnmore{
        font-size: 20px;
        max-width: 160px;
        top: -175px;
        padding: 19px 16px;
        margin-right: 32px;
    }
    .blur{
        top: 0;
    }
    .banner{
        background-position-y: -90px;
    }
}

@media(max-width: 426px){
    .banner .learnmore{
        font-size: 10px;
        max-width: 80px;
        top: -100px;
        padding: 9px 2px;
        margin-right: 17.75px;
        border: 1px solid #424874;
    }
    .banner{
        background-position-y: -50px;
    }
}

@media(max-width: 376px){
    .banner .learnmore{
        top: -89px;
    }
}

@media(max-width: 376px){
    .banner .learnmore{
        top: -75px;
        padding: 5px;
        margin-right: 13.333px;
    }
}

/* NEW PRODUCT */
.new-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title2{
    text-align: center;
    font-family: "Merriweather";
    padding-top: 83px;
    font-size: 40px;
    padding-bottom: 73px;
    color: #424874;
    font-weight: 400;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Merriweather";
}

del{
    text-decoration: line-through;
    font-size: 20px;
    color: #808080;
}

.prdct1, .prdct2{
    background-color: #DCD6F7;
    width: 645px;
    height: 439px;
    border-radius: 20px;
    display: flex;
    margin: 20px;
}

.prdct1 img, .prdct2 img{
    scale: 85%;
}

.text{
    position: relative;
    padding: 57px 28px;
}

.prdct1 hr, .prdct2 hr{
    border: 1px solid black;
    margin: 2px;
}

.text p{
    font-size: 20px;
}

.text .jam{
    font-size: 30px;
    font-weight: 600;
}

.text .harga{
    font-size: 27px;
    font-weight: 600;
}

.learnmore1{
    font-family: "Inter";
    color: #424874;
    border: 2px solid #424874;
    font-size: 35px;
    width: 240px;
    padding: 29px 0;
    text-align: center;
    margin: 43px;
}

.learnmore1:hover{
    color: #EBD8B2;
    background-color: #424874;
}

@media (max-width: 700px) {
    del{
        font-size: 16px;
    }
    
    .prdct1, .prdct2{
        max-width: 550px;
        max-height: 400px;
    }
    
    .text{
        padding: 57px 20px 57px 0;
    }
    
    .text p{
        font-size: 16px;
    }

    .text .jam{
        font-size: 27px;
    }

    .text .harga{
        font-size: 24px;
    }
}

@media (max-width: 570px) {
    del{
        font-size: 14px;
    }
    
    .prdct1, .prdct2{
        max-width: 450px;
        max-height: 320px;
    }

    .prdct1 img, .prdct2 img{
        scale: 80%;
    }
    
    .text{
        padding: 30px 10px 30px 0;
    }
    
    .text p{
        font-size: 14px;
    }

    .text .jam{
        font-size: 24px;
    }

    .text .harga{
        font-size: 20px;
    }

    .learnmore1{
        font-size: 20px;
        width: 150px;
        padding: 20px 0;
    }
}

@media (max-width: 426px) {
    .title2{
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 10px;
    }
    del{
        font-size: 9px;
    }
    
    .prdct1, .prdct2{
        max-width: 300px;
        max-height: 240px;
    }
    
    .text{
        padding: 30px 10px 10px 0;
    }
    
    .text p{
        font-size: 9.5px;
    }

    .text .jam{
        font-size: 14px;
    }

    .text .harga{
        font-size: 12px;
    }
}

/* Special bundle */
.specialbundle{
    display: flex;
    background-color: #A6B1E1;
    max-height: 445px;
    margin: 119px 50px 133px;
}

.specialbundle img{
    max-width: 354px;
    height: 530px;
    position: relative;
    top: -50px;
    scale: 100%;
}

.specialbundle .special-bundle-text{
    min-width: 990px;
    margin: 59px 40px;
    font-family: "Inter";
    font-size: 50px;
    background:rgba(255, 250, 238, 0.2);
    position: relative;
    left: -90px;
    border-radius: 30px;
    padding: 24px 41px;
}

.special-bundle-text #bold{
    font-size: 70px;
}

.special-bundle-text #prize{
    color: #424874;
}

.special-bundle-text #periode{
    color: #424874;
    font-size: 24px;
}

@media(max-width: 1024px){
    .specialbundle{
        margin: 80px 50px 133px;
    }
    
    .specialbundle .special-bundle-text{
        min-width: 590px;
        font-size: 40px;
        padding-right: 0;
        line-height: 60px;
    }
    
    .special-bundle-text #bold{
        font-size: 54px;
    }
    
    .special-bundle-text #periode{
        line-height: 40px;
        font-size: 20px;
    }
}

@media(max-width: 768px){
    .specialbundle{
        margin: 80px 50px 133px;
        max-height: 300px;
    }

    .specialbundle img{
        scale: 60%;
        top: -110px;
        left: -50px;
    }
    
    .specialbundle .special-bundle-text{
        min-width: 450px;
        height: 250px;
        font-size: 25px;
        line-height: normal;
        left: -200px;
        margin: 25px 40px;
        padding-left: 20px;
    }
    
    .special-bundle-text #bold{
        font-size: 40px;
    }
    
    .special-bundle-text #periode{
        font-size: 16px;
        line-height: normal;
    }
}

@media(max-width: 426px){
    .specialbundle{
        display: flex;
        flex-wrap: wrap;
        max-height: 700px;
        justify-content: space-evenly;
    }

    .specialbundle img{
        scale: 80%;
        position: relative;
        top: -80px;
        left: auto;
    }
    
    .specialbundle .special-bundle-text{
        position: relative;
        top: -150px;
        min-width: 200px;
        font-size: 17px;
        line-height: 40px;
        text-align: center;
        left: 0;
        margin: auto;
        padding-left: 0px;
        height: auto;
    }

    .special-bundle-text p{
        max-width: 170px;
        margin: auto;
        scale: 120%;
    }
    
    .special-bundle-text #bold{
        font-size: 25px;
        line-height: normal;
    }
    
    .special-bundle-text #periode{
        line-height: 40px;
        font-size: 12px;
    }
}


/* FOOTER */
footer{
    background: #424874;
    color: white;
    font-family: "Merriweather";
    font-size: 20px;
}

.container{
    max-width: 1262px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.row{
    width: 1262px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.col1{
    padding-top: 38px;
    max-width: 518px;
}

.col1 p{
    padding-top: 26px;
}

pre{
    color: white;
    font-family: "Merriweather";
    padding-top: 50px;
}

.col2{
    padding: 0 45px 0 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 61px 49px 40px;

}

.col2 ul li{
    line-height: 50px;
}

.col2 ul li a{
    color: white;
}

.col3{
    padding-top: 65px;
    max-width: 338px;
}

.col3 img{
    padding-top: 18px;
}

.col3 .contact-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact{
    min-width: 255px;
    padding-top: 18px;
}

@media(max-width: 1024px){
    .col2{
        border-right: 0;
    }
}

@media(max-width: 768px){
    .col2{
        border-right: 1px solid white;
        border-left: 0;
    }
}

@media(max-width: 426px){
    .col2{
        border-right: 0;
        padding: 20px;
        margin: 10px;
        font-size: 16px;
    }

    .col1{
        max-width: 290px;
        padding: 0;
        padding-top: 30px;
        font-size: 16px;
    }

    pre{
        max-width: 290px;
        border-bottom: 1px solid white; 
        font-size: 16px;
    }

    .col3{
        padding-top: 20px;
        border-top: 1px solid white;
        font-size: 16px;
    }

    .contact{
        line-height: 26px;
    }
}